body {
  font-family: 'Merriweather', 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(blue.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1 {
	font-size: 36px;
	font-style: italic;
	border: 1px;
	width: 400px;
	margin: 10px;
	padding: 10px;
}
img {
	border: 1px solid grey;
	border-radius: 99px;
	box-shadow: 10px 10px 5px grey;
	float: right;
}

p, li{
	line-height: 26px;
}

a {
	color: red;
}
a:hover {
	color: green;
}